*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 70px;
}

header .topbar{
  margin-left: 32%;
  background-color: #F2F2F2;
  height: 70px;
  display: flex;
  align-items: center;
}

header .topbar .info-topbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

header .controls{
  width: 70px;
  display: flex;
  justify-content: space-between;
}

header .topbar .info-topbar .avatar-access{
  display: flex;
  align-items: center;
}

header .sidebar{
  background-color: #fff;
  width: 32%;
  height: 100vh;
  position: fixed;
  top: 0;
}

header .sidebar .info-sidebar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #F2F2F2;
  padding: 0 10px;
  border-right: 1px solid #D5D8DC;
}

header .sidebar .info-sidebar .avatar-name{
  display: flex;
  align-items: center;
}

header .sidebar .notifications{
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #8EDAFC;
  padding: 0 10px;
}

header .sidebar .notifications .text{
  padding-left: 7px;
}

header .sidebar .notifications .icon-info-notifications{
  display: flex;
  align-items: center;
}

header .sidebar .notifications .icon{
  padding: 14px;
  border-radius: 50%;
  background-color: #fff;
}

header .sidebar .notifications .icon i{
  font-size: 1.1em;
  color: #8EDAFC;
}

header .sidebar .search-bar{
  height: 50px;
  background-color: #FAFAFA;
  padding: 8px 10px;
  display: flex;
}

header .sidebar .search-bar .icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .sidebar .search-bar .icons i{
font-size: 1em;
}

header .sidebar .search-bar input{
  padding: 7px;
  width: 80%;
  border: 1px solid #eee;
}

header .sidebar .search-bar .icons{
  width: 20%;
  height: 34px;
  background-color: #fff;
  border: 1px solid #eee;
  border-right: 0;
}

header .sidebar .contacts{
  overflow-y: scroll;
  height: 100%;
}

header .sidebar .contacts .contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D5D8DC;
  padding: 10px;
  height: 80px;
}

header .sidebar .contacts .contact:hover, header .sidebar .contacts .contact:focus{
  background-color: #F2F2F2;
}

header .sidebar .contacts .contact .text{
  padding-left: 17px;
}

header .sidebar .contacts .img-name-message{
  display: flex;
}

img{
  height: 45px;
  border-radius: 50%;
}

main{
  width: 68%;
  height: calc(100vh - 140px);
  background: url("../img/mine.jpg");
  margin-left: 32%;
  overflow-y: scroll;
}

footer{
  margin-left: 32%;
  background-color: #EAEAEA;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

footer .input{
  width: 88%;
}

footer .input input{
  width: 100%;
  padding: 16px;
  border-radius: 7px;
  border: 0;
}

i{
  font-size: 1.2em;
}

input{
  outline: 0;
}

input::placeholder{
  color: #B0C0C5;
}

.t-grey{
  color: #B0C0C5;
}
