/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

p{
  font-size: 0.8em;
  margin-bottom: 0;
}

i{
  font-size: 0.9em;
  color: #A6ACAF;
  cursor: pointer;
}

img{
  height: 40px;
  border-radius: 50%;
}

input{
  font-size: 0.8em;
  outline: 0;
}

input::placeholder{
  color: #B0C0C5;
}

.background{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background .green{
  background-color: #039789;
  width: 100%;
  height: 15%;
}

.background .white{
  background-color: #D9DCD5;
  width: 100%;
  height: 85%;
}

.contents{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95vh;
  width: 85vw;
}
/* GENERALI */


/* HEADER */
header{
  height: 50px;
}

header .topbar{
  margin-left: 35%;
  background-color: #F2F2F2;
  height: 50px;
  display: flex;
  align-items: center;
}

header .topbar .info-topbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

header .topbar .info-topbar img{
  height: 30px;
}

header .controls{
  width: 70px;
  display: flex;
  justify-content: space-between;
}

header .topbar .info-topbar .avatar-access{
  display: flex;
  align-items: center;
}

header .topbar .info-topbar .avatar-access .access{
  font-size: 0.6em;
}

header .topbar .info-topbar .info{
  margin-left: 3px;
}

header .sidebar{
  background-color: #fff;
  width: 35%;
  height: 95vh;
  position: fixed;
  top: 0;
}

header .sidebar .info-sidebar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #F2F2F2;
  padding: 0 10px;
  border-right: 1px solid #D5D8DC;
}


header .sidebar .info-sidebar img{
  height: 30px;
}


header .sidebar .info-sidebar .avatar-name{
  display: flex;
  align-items: center;
}

header .sidebar .info-sidebar .avatar-name .name{
  margin-left: 3px;
}

header .sidebar .notifications{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #8EDAFC;
  padding: 0 10px;
}

header .sidebar .notifications .text{
  margin-left: 9px;
}

header .sidebar .notifications .icon-info-notifications{
  display: flex;
  align-items: center;
}

header .sidebar .notifications .icon{
  display: flex;
  align-items: center;
  padding: 13px 11px;
  border-radius: 50%;
  background-color: #fff;
}

header .sidebar .notifications .icon i{
  color: #8EDAFC;
  font-size: 0.9em;
}

header .sidebar .notifications .text .receive-notifications{
  font-weight: 600;
}

header .sidebar .notifications .text .active-notifications{
  text-decoration: underline;
}

header .sidebar .search-bar{
  height: 40px;
  background-color: #FAFAFA;
  padding: 8px 10px;
  display: flex;
}

header .sidebar .search-bar .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #eee;
  border-right: 0;
  width: 20%;
}

header .sidebar .search-bar .icons i{
font-size: 0.6em;
}

header .sidebar .search-bar input{
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 7px;
  width: 80%;
  border: 1px solid #eee;
}

header .sidebar .search-bar input::placeholder{
  font-size: 0.7em;
  font-weight: 600;
}

header .sidebar .contacts{
  overflow-y: scroll;
  height: calc(95vh - 150px);
}

header .sidebar .contacts .contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D5D8DC;
  padding: 10px;
  cursor: pointer;
}

header .sidebar .contacts .contact .img-name-message{
  display: flex;
  align-items: center;
  width: 85%;
}

header .sidebar .contacts .contact:hover{
  background-color: #F2F2F2;
}

.contact.active{
  background-color: #F2F2F2;
}

header .sidebar .contacts .contact .text{
  padding-left: 10px;
}

header .sidebar .contacts .contact .date{
  width: 15%;
}

/* HEADER */

/* MAIN */
main{
  width: 65%;
  height: calc(95vh - 105px);
  background: url("../img/mine.jpg");
  margin-left: 35%;
  overflow-y: scroll;
  padding: 40px;
}

main .message{
  border-radius: 8px;
  width: 35%;
  padding: 10px;
  margin-bottom: 11px;
  position: relative;
  box-shadow: 1px 1px 10px 1px #d3d3d3;
}

main .message .date{
  font-size: 0.6em;
}

main .message i{
  float: right;
  margin-left: 5px;
  display: none;
}


main .message .menu{
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  padding-top: 23px;
  position: absolute;
  right: -30px;
  top: 30px;
  display: none;
  line-height: 0;
  box-shadow: 1px 1px 10px 1px #d3d3d3;
  z-index: 1;
}

main .message:hover i{
  display: block;
}

main .message .menu.active{
  display: block;
}

main .message .menu li{
  list-style: none;
  cursor: pointer;
  font-size: 0.8em;
  color: #A6ACAF;
}

main .message .menu li:hover{
  color: #000;
}

.message.sent{
  background-color: #D5F9BB;
}

.message.received{
  background-color: #fff;
}

/* FOOTER */
footer{
  margin-left: 35%;
  background-color: #EAEAEA;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

footer .input{
  width: 88%;
}

footer .input input{
  width: 100%;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 7px;
  border: 0;
}

footer .input input::placeholder{
  font-size: 0.7em;
  font-weight: 600;
}

footer i{
  font-size: 1em;
  color: #687574;
}

/* UTILITY E CLASSI CHE SI RIPETONO */
.t-grey{
  color: #A6ACAF;
}

.date{
  font-size: 0.6em;
  text-align: right;
}

.name{
  font-weight: 600;
}
